:root{
	--main-color: rgba(51, 51, 51, 0.815);
	--main-color_white:rgb(247, 245, 245);
	--main-color_red: #DF2027;
	--main-color_grey:#333;
}
*{
	box-sizing: border-box;
	font-family: "Helvetica", Arial, sans-serif;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a:focus,
a:hover{
	border-bottom: 2px solid var(--main-color_red);
	color: var(--main-color_red);

}
header a,
header a:visited,
header a:active{
	color: var(--main-color_white);	
}
.logo:focus,
.logo:hover{
	border: none;
}


/*---MOBILE---*/
@media (max-width: 640px){
	
.container{
	padding: 5px;
}
.header,
.headerTop{
  display: none;
}
.headerMob{
  display: flex;  
	align-items: center;  
	justify-content: space-between;
	color: var(--main-color);
	font-size: 15px;
	background: var(--main-color_grey);
}
  .headerMob .logo img{
		padding: 5px 0 0;
	}
.mainSponsor img{
	width: 100%;
}

/*---MAIN---*/
 main{
   display: flex;
   flex-direction: column;
 }
 .pageNameMob{
	margin: 10px 0;
}
.pageNameMob strong{
	font-size: 1.2em;
	font-weight: normal;
	color: #fff;
	padding: 5px 10px;
	background-color: var(--main-color_red);
}
	.sponsorsLogo{
		display: none;
	}
		.sponsorsLogoMob{
			display: flex;
			overflow: scroll;
		}
		.sponsorsLogoMob img{
			width: 100px;
			margin: 0 5px 0 0;
		}
		/*Nav*/	
		nav{
			width: 100%;
			overflow: scroll;
			background: var(--main-color_grey);
			padding: 5px 0;
			white-space: nowrap;
			color: #fff;
		}
		.navMenu{
			display: flex;
		}
		.navMenu li{
			padding-left: 10px;
		}
		
		/*Filters*/
		.filterMenu{
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			color: var(--main-color_white);
		}
		.filterItem{
			width: 30%;
		}
		select{
			width: 100%;
			color: var(--main-color);
			font-weight: 700;
		}

/*--EVENT--*/
.month{
	text-transform: uppercase;
	font-size: 1.1em;
	height: 40px;
}
.month p{
	padding: 0 10px;
	display: table;
	line-height: 26px;	
	border-bottom: 3px solid var(--main-color_red);
}

.listEvent{
	color: var(--main-color);
}
.listEvent a,
.listEvent a:active,
.listEvent a:visited{
	color: var(--main-color);
}
.listHead,
.listContent{
	display: flex;
	width: 100%;
	padding: 5px;
}
.listContent{
	height: 60px;
}
.listContent .nameEvent{
	font-size: 0.83em;
}

.listContent:nth-child(2n){
	align-items: center;
	background:#E5E5E5;
}
.listContent:nth-child(2n+1){
	align-items: center;
	background:#D3D3D3;	
}



.listHead{
	text-transform: uppercase;
	font-size: .8em;
	color: #fff;
	background: var(--main-color_grey);
}
.dateEvent{
	min-width: 45px;
	width: 13%;
	text-align: center;
	align-self: center;
}
.nameEvent{
	min-width: 160px;
	width: 55%;
	align-self: center;
	text-align: left;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.orgEvent{
	display: none;
}
.mobOrgEvent{
	font-size: 0.8em;
	align-self:flex-start;
	text-transform: none;
}
.locEvent{
	min-width: 100px;
	width: 22%;
	align-self: center;
	text-align: left;
	padding: 0 5px;
}
.listContent .eventCell{
	border-right: 2px solid rgb(255, 255, 255);
	height: 100%;
}
footer{
	margin: 20px 0;
	color: var(--main-color);
}
}



/*---TABLET---*/
@media (min-width: 640px) and (max-width: 1020px){
	.headerMob{
		display: none;
	}
	.header{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	header .headerSocialMenu,
	header .logo,
	header .headerMenu{
  width: 33%;
  
}
	.header .logo img{
		width: 120px;
		margin: 5px 0 0 5px;
	}
	.headerMenu{
		display: flex;
		justify-content: space-between;
	}
	.headerSocialMenu{
		display: flex;
		justify-content: flex-end;
	}
	.headerSocialMenu a{
		margin-right: 5px;
	}

	.title{
		display: none;
	}

	/*---MAIN---*/
	
	.sponsorsLogoMob{
		display: none;
	}
	 .sponsorsLogo{
		 display: flex;
		 overflow: scroll;
	 }
	 .sponsorsLogo img{
		 width: 97%;
		 margin-top: 5px;
	 }

	 /*Title*/
	.titleMob{
		font-size: 26px;
		text-align: center;
		color: var(--main-color_white);
	}

	/*Nav*/	
	nav{
		width: 100%;
		overflow: scroll;
		background: rgba(255, 255, 255, 0.281);
	}
	.navMenu{
		display: flex;
	}
	.navItem{
		border: 1px solid var(--main--bg_light);
		border-left: none;
	}

	/*Filters*/
	.filterMenu{
		display: flex;
		justify-content: space-between;
		margin: 10px 5px;
		color: var(--main-color_white);
	}
	.filterItem{
		width: 33%;
		display: flex;
	}
	select{
		color: var(--main-color);
		font-weight: bolder;
		width: 50%;
		text-transform: uppercase;
	}
	label{
		margin-right: 5px;
	}

	/*--EVENT--*/
.listEvent{
	color: var(--main-color_white);
}
.listEvent a,
.listEvent a:active{
	color: var(--main-color_white);
}
.listHead,
.listContent{
	display: flex;
	width: 100%;
	border-bottom: 1px solid gray;
	padding: 2px 0;
}
.listHead{
	text-transform: uppercase;
	font-weight: 700;
	color: var(--main-color);
	background: var(--main--bg_light);
	text-align: center;
}
.listContent{
	height: 40px;
	align-items: center;
}
.dateEvent{
	min-width: 50px;
	width: 8%;
	text-align: center;
}
.nameEvent{
	min-width: 330px;
	width: 50%;
	text-transform: uppercase;
	padding-left: 15px;
}
.orgEvent{
	min-width: 130px;
	width: 21%;
	padding-left: 10px;
}
.mobOrgEvent{
	display: none;
}
.locEvent{
	min-width: 130px;
	width: 21%;
	padding-left: 10px;
}
footer{
	margin: 20px 0;
	color: var(--main-color);
}
}
/*---DESKTOP---*/
@media (min-width: 1020px) and (max-width: 1550px){
	/* body{
		background-image: url("img/bg-test.png");
	} */
	.container{
		background: rgb(255, 255, 255);
	}
	.mainSponsor{
		opacity: .8;
	}
	/*Header*/
		.headerMob{
			display: none;
		}
		.headerTop{
			height: 35px;
			background: #000;
			color: var(--main-color_red);
			font-size: 1.1em;
			letter-spacing: 1px;
		}
		.headerTop h1{
			font-size: 17px;
			font-weight: normal;
			text-align: center;
			padding-top: 7px;
		}
		.header{
			padding: 0 35px;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background: #333;
		}
	 .headerMenu{
			width: 76%;
		}
		.headerSocialMenu{
			width: 24%;
		}
		.headerMenu ul,
		.headerSocialMenu ul{
			display: flex;
		}
		.header li{
			margin-right: 50px;
		}


/*MAIN*/
		main{
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 10px 35px;
		}
		.sponsorsLogoMob{
			display: none;
		}
		.eventSection{
			width: 76%;		
		}
		.sponsorsLogo{
			width: 24%;			
		}
		.sponsorItem img{
			width: 100%;
		}

/*Sponsor*/
.sponsorsLogo{
	padding-left: 10px;
}
.titleSponsor{
	height: 50px;
	color: var(--main-color_grey);
	font-size: 22px;
	display: flex;
	justify-content: flex-end;
}
.titleSponsor p{
	font-weight: bold;
	display: table;
	line-height: 30px;	
	border-bottom: 3px solid var(--main-color_red);
}
.sponsorItem{
	margin-bottom: 10px;
}
/*end Sponsor*/

		
		
/*Nav*/	
		nav{
			height: 40px;
			background: var(--main-color_grey);
		}
		.navMenu{
			display: flex;
		}
		.navItem{
			padding: 10px 22px 0 0px;
			margin-left: 10px;
			color: var(--main-color_white);
			font-size: .97em;
			white-space: nowrap;
			letter-spacing: 1px;
		
		}
		/* .navItem:nth-child(2n){
			align-items: center;
			background:#E5E5E5;
		}
		.navItem:nth-child(2n+1){
			align-items: center;
			background:#D3D3D3;
		} */
	
/*Filters*/
		.filterMenu{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			color: var(--main-color);
			height: 50px;
		}
		.filterItem{
			width: 200px;
			margin: 30px 20px 0 0;
		}
		
		select{
			color: var(--main-color);
			font-weight: 700;
			text-transform: uppercase;
			height: 25px;
			width: 200px;
			border: 1px solid #000000;
			letter-spacing: 1px;
		}
		/* label{
			margin-right: 5px;
		} */

/*--EVENT--*/
.month{
	text-transform: uppercase;
	font-size: 1.1em;
	height: 40px;
}
.month p{
	padding: 0 10px;
	display: table;
	line-height: 26px;	
	border-bottom: 3px solid var(--main-color_red);
}
.mobOrgEvent{
	display: none;
}
.listEvent{
	color: var(--main-color);
}
.listEvent a,
.listEvent a:active{
	color: var(--main-color);
}
.listHead,
.listContent{
	display: flex;
	width: 100%;
	height: 50px;
}
.listHead{
	text-transform: uppercase;
	font-weight: bold;
	color: var(--main-color_white);
	letter-spacing: 1px;
	background: #333;
	font-size: .9em;
	align-items: center;
}
.listContent:nth-child(2n){
	align-items: center;
	background:#E5E5E5;
}
.listContent:nth-child(2n+1){
	align-items: center;
	background:#D3D3D3;	
}
.eventCell{
	padding: 20px 0 0 15px;
	height: 100%;
}
.listContent .eventCell{
	border-right: 2px solid rgb(255, 255, 255);
}

.dateEvent{
	min-width: 50px;
	width: 8%;
}
.nameEvent{
	min-width: 330px;
	width: 50%;
	text-transform: uppercase;
	font-weight: bold;	
}.nameEvent a{
	width: 100%;
}
.orgEvent{
	min-width: 130px;
	width: 21%;
}
.locEvent{
	min-width: 130px;
	width: 21%;
}




footer{
	background: #000;
	margin-top: 20px;
	color: var(--main-color_);
	border-top: 10px solid var(--main-color_red);
}
.topFooter{
	background: var(--main-color_grey);
	display: flex;
	color:#fff;
	padding: 20px 10px;
}
.topFooter .footerSection{
	margin-right: 250px;
}
}


