:root{
	--main-color: rgb(47, 47, 107);
}
*{
	box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
}

body{
	 background-image: linear-gradient(to top, rgba(30,87,153,0), rgba(30,87,153,0.8), rgba(30,87,153,1),
		rgba(30,87,153,1), rgba(41,137,216,1), rgba(30,87,153,1), rgba(30,87,153,1),
		rgba(30,87,153,0.8),rgba(30,87,153,0));
	color: #fff; padding: 10px;
}
/* Стили для очень больших экранов (дисплей минимум 1200 пикселей) */

	.container{
		display: grid;
		grid-template-areas: "header header"
							"nav sponsor"
							"main sponsor"
							"footer footer";
		grid-gap: 15px 35px ; 
		grid-template-columns: 4fr 1fr;
		grid-template-rows: 60px 63px auto 100px;
		}
/* Стили для очень маленьких экранов (дисплей максимум 575 пикселей) */
@media screen and (max-width: 575px) {

	.container{
		grid-template-areas: "header"
							"nav"
							"main "
							"footer ";
	
		grid-template-columns: 1fr;
		grid-template-rows:  auto ;
		}
	.sponsor{
		display: none;
	}
	
	nav .nav-item:nth-child(9),
	nav .nav-item:nth-child(10),
	nav .nav-item:nth-child(11),
	nav .nav-item:nth-child(12),
	nav .nav-item:nth-child(13),
	nav .nav-item:nth-child(14),
	nav .nav-item:nth-child(15),
	nav .nav-item:nth-child(16),
	nav .nav-item:nth-child(17){
		display: none;
	}	

}
	
/* Стили для маленьких экранов (дисплей шириной от 576 пикселей до 767 пикселей) */
@media all (min-width: 476px) and (max-width: 767px) {}
 
 
/* Стили для средних экранов (дисплей шириной от 768 пикселей до 991 пикселей) */
@media (min-width: 768px) and (max-width: 991px) {}
 
/* Стили для больших экранов (дисплей шириной от 992 пикселей до 1199 пикселей) */
@media (min-width: 992px) and (max-width: 1199px) { }
 

/*  HEADER */
header{
	grid-area: header;
}
header {
	display: flex;
	justify-content: space-between;
}
	.logo, .social-icons{
		width: 35%;
	}
	.social-icons{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	 .social-icons img{
		margin: 20px 20px 5px 0;
		padding: 3px;
	}
	.social-icons img:hover{
		box-shadow: 0 0 15px rgb(58, 58, 58);
		transition-delay: 0.05s;
	}
	
/* END HEADER */

/* NAVIGATION */
nav{
	grid-area: nav;
	background-color: #fff;
	color: var(--main-color);
	font-weight: 590;
	opacity: 0.9;
}
	.nav-menu{
		display: flex;
		}
	.nav-item{
		margin: 1px;
		padding: 8px 15px 2px 15px;
	}
	.nav-menu .active,
	.nav-item:hover{
		
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		transition-delay: 0.09s
	}
	.nav-item img{
		width: 30px;
	}

/* END NAVIGATION */

/* MAIN */  
.main{
	grid-area: main;
	
}
.main h1{
	color: white;
	font-size: 1.95em;
}
.main .filters{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: #fff; 
	padding: 10px 0 0 0;
}
	.filters select{
		margin: 0 55px 15px 0;
		width: 200px;
		height: 26px;
		padding: 0 5px;
		font-size: 0.9em;
		background: rgb(247, 245, 245);
		opacity: 0.95;
		color: var(--main-color);
		font-weight: 750;
	}

.main .month p{
	color: #fff;
	font-size: 1.5em;
	text-decoration-line: underline;
	text-decoration-color: red;
}
	

.main .list-event {
	color: rgb(247, 245, 245);
	border:3px solid rgba(216, 197, 197, 0.32);
	background-color: rgba(128, 128, 128, 0.404);
}
	.list-event .list-item{
		display: flex;
		min-height: 40px;
	}
	.list-event .list-item:not(:first-child):hover{
		background: rgba(153, 151, 151, 0.226);	
	}
	
		.list-head{
			background-color: rgb(255, 255, 255);
			color: var(--main-color);
			opacity: 0.85;
			text-transform: uppercase;
		}
		.list-item .event-cell_item{
			display: flex;
			justify-content: center;
			align-items: center;
			border-left: 1px solid  rgba(216, 197, 197, 0.32);
			font-size: 1em;
			font-weight: 550;
		}

	.event-cell_item:nth-child(1){	width: 15%;	}
	.event-cell_item:nth-child(2){	width: 50%;	}
	.event-cell_item:nth-child(3){	width: 20%;	}
	.event-cell_item:nth-child(4){	width: 15%;	}

	.list-content:nth-child(even){	
		background: rgba(0, 0, 0, 0.199);	
	}
	.list-content .date{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.date .month{
		font-size: 1.1em;
		font-weight: 550;
	}
	
	.PAID:hover{
		border: 2px solid  rgba(216, 197, 197, 0.32);
		font-weight: 600;
	}
	.list-content .name-event a,
	.list-content .name-event a:visited,
	.list-content .name-event a:active{
		color: white;
		
	}
	
		.name-event a sup{
			font-family: "Times New Roman"!important;
			color: red;
			font-weight: 600;
			font-size: 1.3em;
		}

/* END MAIN */


/* SPONSOR */  
.sponsor{
	grid-area: sponsor;
	background-color: rgba(128, 128, 128, 0.295);
	
}

.sponsor-item,
.mostawaited-event{
	border-left:3px solid rgba(255, 255, 255, 0.185);
}
	.title-mostawaited_event{
		font-size: 1.5em;
		text-decoration-line: underline;
		text-decoration-color: red;
		padding: 15px 5px;
		background-color: #fff;
		color: var(--main-color);
		font-weight: 550;
		opacity: .9;
		
	}
	.mostawaited-list{
		display: flex;
		align-items: center;
		height: 25px;
		color: #fff;
		
	}
	.mostawaited-item:nth-child(1){
		width: 20%;	
		padding-left: 5px;
	}
	.mostawaited-item:nth-child(2){
		width: 50%;	
		text-align: center;
		font-size: 1.05em;
	}
	.mostawaited-item:nth-child(3){
		width: 35%;	
		text-align: center;
	}
/* END SPONSOR */

/* FOOTER */  
footer{
	grid-area: footer;
	
    
}
/* END FOOTER */
